/* main and header containers */

body{
    height: 100%;
}
.main{
    padding-bottom: 70px;
}
.card-container{
    margin: 0 70px 0 70px;
    position: relative;
    width: auto;
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.1);
    background-color: var(--white);
    border-radius: 10px;
    display: flex;
    padding: 50px 100px;
    justify-content: center;
}
.card-heading{
    margin: 0 80px;
    text-align: center;
}
.card-heading h4{
    font-family: 'Lexend';
    font-style: normal;
    font-weight: 600;
    font-size: 54px;
    line-height: 68px;
    color: var(--independence);
}
.banner{
    margin: 0 70px 0 70px;
    position: relative;
    min-height: 100%;
    height: auto;
    padding: 200px 600px 0 0;
    font-family: 'Lexend';
    font-style: normal;
    font-weight: 500;
    font-size: 76px;
    line-height: 96%;
    color: var(--independence);
}
h4{
    padding-top: 30px;
}
.images{
    background-image: url('/asset/img/landing-pic-grouped-1.png');
    height: 700px;
    background-repeat: no-repeat;
    background-position-x: right;
}

/* feature containers */

.bg-image{
    background-image: url('/asset/img/pinks.svg');
    background-position-x: center;
}
.feature-container{
    padding: 200px 0 70px 0;
}
.feature-title{
    margin: 0 70px 0 70px;
    text-align: center;
}
.feature-title h1{
    color: var(--independence);
    font-weight: 500;
}
.card-row{
    margin: 0 -5px;
    margin: 0 70px 0 70px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 70px;
    grid-gap: 16px; 
    justify-content: center;
}
.card-feature{
    background: var(--white);
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.08);
    border-radius: 15px;
    height: 35vh;
    width: 20%;
    position: relative;
}
.card-content{
    padding: 20px;
    margin: 20px;
    float: left;
}
.card-content .btn-primary{
    justify-content: flex-end;
    display: flex;
    position: absolute;
    right: 20px;
    bottom: 20px;
}

/* benefit containers */
.bg-benefit{
    background-image: url('/asset/img/landing-pic-grouped-2.png');
    background-size: cover;
    width: auto;
    height: 900px;
}
.benefit-title{
    width: 500px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.benefit-content{
    margin: 0 70px 0 70px;
    padding-left: 1000px;
    position: relative;
}
.benefit-title h1{
    color: var(--independence);
    font-weight: 500;
}
.list-content li{
    text-decoration: none;
    display:inline-block;
    flex-direction: column;
}
.list-content img{
    width: 30px;
}
.list-text{
    vertical-align: middle;
}

/* plan container */
.plan-container{
    padding-bottom: 20px;
    height: 110vh;
}
.plan-title{
    margin: 0 70px 0 70px;
    text-align: center;
}
.bg-plan{
    background-image: url('/asset/img/purple-plan.svg');
    width: auto;
    height: 400px;
}
.plan-row{
    margin: 0 70px 0 70px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 70px;
    grid-gap: 16px; 
    justify-content: center;
    position: relative;
}
.plan-column{
    background: var(--white);
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.08);
    border-radius: 15px;
    width: 28%;
    padding: 40px;
}
.plan-column-other{
    background: var(--independence);
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.08);
    border-radius: 15px;
    width: 28%;
    padding: 40px;
}
.plan-column-other .btn-secondary{
    float: right;
    margin-top: 100px;
}
.plan-column-other h2{
    color: var(--lavender-blush);
}
.plan-column-other h3{
    color: var(--lavender-blush);
}
.plan-column-other .plan-text{
    color: var(--lavender-blush);
}
.plan-content .btn-primary{
    float: right;
    margin-top: 100px;
}
.plan-title h1{
    color: var(--independence);
}
.list-plan li{
    text-decoration: none;
    display:inline-block;
    flex-direction: column;
    flex-wrap: wrap;
}
.list-plan img{
    width: 40px;
}

/* responsive */

@media screen and (max-width:1800px){
    .plan-content img{
        width: 40px;
    }
    .plan-list img{
        width: 20px;
    }
    .plan-list h4{
        font-size: 14px;
    }
    .plan-container{
        height: 120vh;
    }
    
    .benefit-content{
        padding-left: 800px;
    }
}

@media screen and (max-width: 1400px){
    .banner{
        font-size: 48px;
        padding: 300px 400px 0 0;
    }
    .card-feature{
        flex-wrap: wrap;
        display: block;
        width: 50%;
    }
    .card-container{
        flex-wrap: wrap;
    }
    .card-heading{
        margin: 0 80px;
    }
    .plan-column{
        height: 50vh;
        flex-wrap: wrap;
        display: block;
        width: 100%;
    }
    .plan-column-other{
        height: 50vh;
        flex-wrap: wrap;
        display: block;
        width: 100%;
    }
    .plan-content .btn-primary{
        margin-top: -10px;
    }
    .plan-content .btn-secondary{
        margin-top: -10px;
    }
    .bg-benefit{
        position: relative;
        height: 800px;
    }
    .benefit-container{
        margin-top: 800px;
    }
    .benefit-content{
        padding-left: 500px;
        padding-right: 100px;
    }
    .benefit-content h1{
        font-size: 32px;
    }
    .benefit-content h4{
        font-size: 16px;
    }
    .plan-container{
        height: 200vh;
    }
}

@media screen and (max-width: 1110px){
    .card-heading h4{
        font-size: 54px;
    }
    .images{
        height: auto;
        width: auto;
        float: right;
        padding-bottom: 200px;
    }
    .bg-image{
        height: auto;
    }
    .bg-benefit{
        height: 900px;
        margin-top: 100px;
    }
    .benefit-container{
        margin-top: 900px;
    }
    .benefit-content{
        margin-right: 50px;
        padding-top: 200px;
        padding-left: 300px;
    }
}
@media screen and (max-width: 920px){
    .banner{
        padding: 700px 50px 0 50px;
        text-align: center;
    }
    .card-heading h4{
        font-size: 48px;
    }
    .benefit-content{
        margin-right: 50px;
        padding-top: 400px;
        padding-left: 200px;
        padding-bottom: 500px;
    }
    .list-benefit{
        height: max-content;
    }
    .bg-benefit{
        margin-top: 100px;
        height: 800px;
    }
    .benefit-container{
        margin-top: 800px;
    }
    .plan-container{
        height: 250vh;
    }
}
@media screen and (max-width: 750px){
    .banner{
        font-size: 32px;
    }
    .card-heading h4{
        font-size: 32px;
    }
    .bg-benefit{
        height: 800px;
    }
    .benefit-container{
        margin-top: 800px;
    }
}
@media screen and (max-width: 550px){
    .banner{
        font-size: 24px;
        text-align: center;
    }
}