/* main and header containers */
 
body{
    height: 100%;
}
.container-login{
    padding-top: 10rem;
    padding-bottom: 18rem;
}
.card-login{
    padding: 32px;
    background: var(--white);
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.08);
    border-radius: 15px;
    height: 100%;
    width: 40rem;
}
.card-header{
    background-color: transparent;
    border-bottom: none;
    text-align: center;
}
.h2{
    color: var(--independence);
}
.col-pass{
    display: flex;
    flex-direction: row;
    column-gap: 120px;
    justify-content: center;
    align-items: center;
    margin: 64px 0px;
    width: auto;
}
.col-pass p{
    margin-bottom: 0;
}
.form-check{
    margin-bottom: 0;
}
.p a{
    text-decoration: none;
    color: var(--independence);
    font-weight: 600;
}

@media screen and (max-width: 920px){
    .banner-register form{
        width: 70%;
    }
    .banner-register h2{
        text-align: center;
    }

}