/* main and header containers */
 
body{
    height: 100%;
}
.container-service{
    padding-bottom: 8rem;
}
.main-service{
    overflow: auto;
    padding-bottom: 160px;
    justify-content: center;
}
.banner-service{
    display: flex;
    flex-wrap: wrap;
    margin: 200px 70px 0 70px;
    justify-content: center;
    float: left;
}
.service-content{
    font-family: 'Lexend';
    font-style: normal;
    font-weight: 500;
    font-size: 76px;
    line-height: 96%;
    color: var(--independence);
    text-align: center;
    padding: 0 200px 0 200px;
}
.prog-img{
    width: 300px;
    height: fit-content;
}
.bg-service{
    background-image: url('/asset/img/purples.svg');
    height: 700px;
    background-repeat: no-repeat;
    background-position-x: right;
}

/* service containers */

.bg-image{
    background-image: url('/asset/img/pinks.svg');
    background-size: cover;
    width: auto;
    height: 1000px;
}
.programs-container{
    padding: 200px 0 70px 0;
}
.service-title{
    margin: 0 70px 0 70px;
    text-align: center;
}
.service-title h1{
    color: var(--independence);
    font-weight: 500;
}
.card-row{
    margin: 0 -5px;
    margin: 0 70px 0 70px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 70px;
    grid-gap: 16px; 
    justify-content: center;
}
.card-service{
    background: var(--white);
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.08);
    border-radius: 15px;
    width: 20%;
}
.card-content{
    padding: 20px;
    margin: 20px;
    float: left;
}
.card-content .btn-primary{
    float: right;
    margin-top: 40px;
}
